/packages

/bin

/obj
/*.dat
/*.bin
/[dD]ebug
/[bB]in/
/*.data/*.*
/Resharper.*
/
/_ReSharper.AngularJSDemo/AnnotatedMembers/*.crc
/_ReSharper.AngularJSDemo/AnnotatedMembers/*.version
/_ReSharper.AngularJSDemo/AnnotatedMembers/1/*.dat
/_ReSharper.AngularJSDemo/*.dat
/_ReSharper.AngularJSDemo/BuildScriptCache/*.crc
/_ReSharper.AngularJSDemo/BuildScriptCache/*.version
/_ReSharper.AngularJSDemo/BuildScriptCache/7/*.dat
/_ReSharper.AngularJSDemo/*
/_ReSharper.AngularJSDemo/CompletionStatistics/*.dat
/_ReSharper.AngularJSDemo/ConditionalNames/*.crc
/_ReSharper.AngularJSDemo/ConditionalNames/*.version
/_ReSharper.AngularJSDemo/ConditionalNames/1/*.dat
/_ReSharper.AngularJSDemo/ExternalFiles/*.dat
/_ReSharper.AngularJSDemo/FileDependencies/*.crc
/_ReSharper.AngularJSDemo/FileDependencies/*.version
/_ReSharper.AngularJSDemo/FileDependencies/9/*.dat
/_ReSharper.AngularJSDemo/GeneratedFiles/*.crc
/_ReSharper.AngularJSDemo/GeneratedFiles/*.version
/_ReSharper.AngularJSDemo/GeneratedFiles/1/*.dat
/_ReSharper.AngularJSDemo/JSTest/*.crc
/_ReSharper.AngularJSDemo/JSTest/*.version
/_ReSharper.AngularJSDemo/JSTest/6/*.dat
/_ReSharper.AngularJSDemo/JavaScriptTypeCache/*.crc
/_ReSharper.AngularJSDemo/JavaScriptTypeCache/*.version
/_ReSharper.AngularJSDemo/JavaScriptTypeCache/1/*.dat
/_ReSharper.AngularJSDemo/JavaScriptTypeCache/2/*.dat
/_ReSharper.AngularJSDemo/JavaScriptTypeCache/3/*.dat
/_ReSharper.AngularJSDemo/JavaScriptTypeCache/4/*.dat
/_ReSharper.AngularJSDemo/JavaScriptTypeCache/5/*.dat
/_ReSharper.AngularJSDemo/JavaScriptTypeCache/6/*.dat
/_ReSharper.AngularJSDemo/JavaScriptTypeCache/7/*.dat
/_ReSharper.AngularJSDemo/JavaScriptTypeCache/8/*.dat
/_ReSharper.AngularJSDemo/JavaScriptTypeCache/9/*.dat
/_ReSharper.AngularJSDemo/MVC/*.crc
/_ReSharper.AngularJSDemo/MVC/*.version
/_ReSharper.AngularJSDemo/MVC/6/*.dat
/_ReSharper.AngularJSDemo/*.xml
/_ReSharper.AngularJSDemo/NamedArguments/*.crc
/_ReSharper.AngularJSDemo/NamedArguments/*.version
/_ReSharper.AngularJSDemo/NamedArguments/9/*.dat
/_ReSharper.AngularJSDemo/PersistentCaches/*.log
/_ReSharper.AngularJSDemo/PersistentCaches/*.sst
/_ReSharper.AngularJSDemo/PersistentCaches/*
/_ReSharper.AngularJSDemo/PersistentCaches/*.old
/_ReSharper.AngularJSDemo/ProjectFileDataCache/*.dat
/_ReSharper.AngularJSDemo/ProjectModel/*.dat
/_ReSharper.AngularJSDemo/RecentItems/*.dat
/_ReSharper.AngularJSDemo/Resources/*.crc
/_ReSharper.AngularJSDemo/Resources/*.version
/_ReSharper.AngularJSDemo/Resources/4/*.dat
/_ReSharper.AngularJSDemo/*.bin
/_ReSharper.AngularJSDemo/TagPrefixes/*.crc
/_ReSharper.AngularJSDemo/TagPrefixes/*.version
/_ReSharper.AngularJSDemo/TagPrefixes/3/*.dat
/_ReSharper.AngularJSDemo/WebSymbols/*.crc
/_ReSharper.AngularJSDemo/WebSymbols/*.version
/_ReSharper.AngularJSDemo/WebSymbols/5/*.dat
/_ReSharper.AngularJSDemo/WebSymbols/9/*.dat
/_ReSharper.AngularJSDemo/XmlIndex/Accessibility.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/EntityFramework.SqlServer.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/EntityFramework.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/Microsoft.AspNet.Identity.Core.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/Microsoft.AspNet.Identity.EntityFramework.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/Microsoft.AspNet.Identity.Owin.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/Microsoft.Build.Framework.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/Microsoft.Build.Tasks.v4.0.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/Microsoft.Build.Utilities.v4.0.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/Microsoft.CSharp.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/Microsoft.JScript.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/Microsoft.Owin.Host.SystemWeb.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/Microsoft.Owin.Security.Cookies.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/Microsoft.Owin.Security.Facebook.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/Microsoft.Owin.Security.Google.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/Microsoft.Owin.Security.MicrosoftAccount.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/Microsoft.Owin.Security.OAuth.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/Microsoft.Owin.Security.Twitter.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/Microsoft.Owin.Security.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/Microsoft.Owin.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/Microsoft.VisualBasic.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/Microsoft.VisualC.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/Microsoft.Web.Infrastructure.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/Newtonsoft.Json.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Activities.DurableInstancing.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Activities.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.ComponentModel.Composition.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.ComponentModel.DataAnnotations.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Configuration.Install.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Configuration.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Core.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Data.DataSetExtensions.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Data.Entity.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Data.Linq.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Data.OracleClient.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Data.Services.Client.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Data.Services.Design.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Data.SqlXml.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Data.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Deployment.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Design.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.DirectoryServices.Protocols.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.DirectoryServices.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Drawing.Design.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Drawing.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.EnterpriseServices.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.IdentityModel.Selectors.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.IdentityModel.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Management.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Messaging.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Net.Http.WebRequest.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Net.Http.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Numerics.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Runtime.Caching.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Runtime.DurableInstancing.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Runtime.Remoting.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Runtime.Serialization.Formatters.Soap.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Runtime.Serialization.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Security.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.ServiceModel.Activation.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.ServiceModel.Activities.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.ServiceModel.Channels.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.ServiceModel.Web.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.ServiceModel.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.ServiceProcess.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Transactions.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Web.ApplicationServices.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Web.DataVisualization.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Web.DynamicData.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Web.Entity.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Web.Extensions.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Web.Helpers.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Web.Mvc.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Web.Optimization.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Web.Razor.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Web.RegularExpressions.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Web.Services.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Web.WebPages.Deployment.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Web.WebPages.Razor.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Web.WebPages.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Web.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Windows.Forms.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Workflow.Activities.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Workflow.ComponentModel.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Workflow.Runtime.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.WorkflowServices.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Xaml.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Xml.Linq.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.Xml.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/System.xml/*.bin
/_ReSharper.AngularJSDemo/XmlIndex/mscorlib.xml/*.bin
/AngularJSDemo.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AngularJSDemo.Data/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AngularJSDemo.Data/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AngularJSDemo.Data/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/AngularJSDemo.Services/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AngularJSDemo.Services/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AngularJSDemo.Services/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AngularJSDemo.Services/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/AngularJSDemo.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/AngularJSDemo.Web/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AngularJSDemo.Web/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AngularJSDemo.Web/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
